.MMM-SoccerLiveScore-time {
    text-align: center;
    background-color: #6666660d;
}

.MMM-SoccerLiveScore-team_logo {
    position: relative;
    top: 3px;
}

.MMM-SoccerLiveScore-team1_logo,
.MMM-SoccerLiveScore-team2_logo {
    position: relative;
    top: 2px;
    background-color: transparent;
}

.MMM-SoccerLiveScore-active {
    color: red;
}

