.MMM-SoccerLiveScore-time {
    text-align: center;
    background-color: #6666660d;
}

.MMM-SoccerLiveScore-team_logo {
    position: relative;
    top: 3px;
}

.MMM-SoccerLiveScore-team1_logo,
.MMM-SoccerLiveScore-team2_logo {
    position: relative;
    top: 2px;
    background-color: transparent;
}

.MMM-SoccerLiveScore-active {
    color: red;
}

.MMM-SoccerLiveScore-active-dot {
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 100%;
    animation: pulsate 4s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.1;
}
@keyframes pulsate {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.1;
    }
}

