:root {
  --vertical-animation-offset: 100%;
}
.MMM-SoccerLiveScore__api-info {
  font-size: 10px;
  text-align: right;
  font-style: italic;
  color: var(--color-text);
}

.MMM-SoccerLiveScore-outer-wrapper {
  overflow: hidden;
}

.MMM-SoccerLiveScore table {
  overflow: hidden;
}

.MMM-SoccerLiveScore-team_logo {
  position: relative;
  top: 3px;
}

.MMM-SoccerLiveScore-team_logo--invert {
  filter: invert(1);
}

.MMM-SoccerLiveScore__is_playing {
  width: 10px;
  text-align: center;
  vertical-align: middle;
}

.MMM-SoccerLiveScore-horizontal-infinite-scroll {
  animation: MMMSoccerLiveScoreScrollLeft 00s infinite linear;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  white-space: nowrap;
  text-align: left;
  padding-left: 100%;
  font-size: 80%;
  color: var(--color-text-dimmed);
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.MMM-SoccerLiveScore-vertical-infinite-scroll .MMM-SoccerLiveScore-inner-wrapper {
  animation: MMMSoccerLiveScoreScrollTop 30s linear infinite alternate;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  z-index: 0;
  padding-top: 0%;
}

.MMM-SoccerLiveScore-vertical-infinite-scroll header {
  background: var(--color-background);
  position: relative;
  z-index: 100;
}

.MMM-SoccerLiveScore__status p {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  animation: MMMSoccerLiveScorePulsate 4s infinite alternate ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0.1;
  display: inline-block;
}

.MMM-SoccerLiveScore-PAUSED,
.MMM-SoccerLiveScore-IN_PLAY {
  opacity: 1;
}

.MMM-SoccerLiveScore-SCHEDULED,
.MMM-SoccerLiveScore-TIMED {
  opacity: 0.3;
}

.MMM-SoccerLiveScore-FINISHED,
.MMM-SoccerLiveScore-AWARDED,
.MMM-SoccerLiveScore-CANCELLED,
.MMM-SoccerLiveScore-SUSPENDED,
.MMM-SoccerLiveScore-POSTPONED {
  opacity: 0.8;
}

.MMM-SoccerLiveScore__status .MMM-SoccerLiveScore-PAUSED,
.MMM-SoccerLiveScore__status .MMM-SoccerLiveScore-IN_PLAY {
  color: red;
  background-color: red;
}

.MMM-SoccerLiveScore__status .MMM-SoccerLiveScore-CANCELLED,
.MMM-SoccerLiveScore__status .MMM-SoccerLiveScore-SUSPENDED,
.MMM-SoccerLiveScore__status .MMM-SoccerLiveScore-POSTPONED {
  color: orange;
  background-color: orange;
}

.MMM-SoccerLiveScore-awayTeam {
  text-align: left;
  width: 40%;
}

.MMM-SoccerLiveScore-homeTeam {
  text-align: right;
  width: 40%;
}

.MMM-SoccerLiveScore-date,
.MMM-SoccerLiveScore-time-group,
.MMM-SoccerLiveScore-referee {
  font-size: smaller;
  background-color: #6666663a;
  text-align: center;
  font-size: smaller;
}

.MMM-SoccerLiveScore-referee {
  background: transparent;
  color: var(--color-text);
}

.MMM-SoccerLiveScore-header {
  font-size: 12px;
  margin: 0;
  text-align: right;
  line-height: 1.5rem;
}

.MMM-SoccerLiveScore-footer {
  font-size: 12px;
  margin: 0;
  border-top: 1px solid var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MMM-SoccerLiveScore-right,
.MMM-SoccerLiveScore-left {
  flex: 0 1 100%;
}

.MMM-SoccerLiveScore-right {
  text-align: right;
}

.MMM-SoccerLiveScore-left {
  text-align: left;
}

.MMM-SoccerLiveScore-center {
  text-align: center;
}

.MMM-SoccerLiveScore-version,
.MMM-SoccerLiveScore-dates {
  display: inline-block;
  max-width: 100%;
}
.MMM-SoccerLiveScore-version {
  margin-left: 0.5rem;
}

.MMM-SoccerLiveScore-dates {
  margin-right: 0.5rem;
}

.MMM-SoccerLiveScore-version-update {
  color: gold;
}

.MMM-SoccerLiveScore--error {
  animation: pulsate 2s infinite alternate ease-in-out;
  background: var(--color-background);
  color: red;
}

@keyframes pulsate {
  0% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}


@keyframes MMMSoccerLiveScoreScrollLeft {
  to {
    transform: translateX(-100%);
  }
}

@keyframes MMMSoccerLiveScoreScrollTop {
  to {
    transform: translateY(var(--vertical-animation-offset, -100%));
  }
}

@keyframes MMMSoccerLiveScorePulsate {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}
